.sceneContainer {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 600px 150px;
    grid-column-gap: 3px;
    grid-row-gap: 3px;

    }
    
    .threeScene { grid-area: 1 / 2 / 2 / 3; }
    .roomSettings { grid-area: 1 / 1 / 2 / 2; background-color: rgb(77, 77, 77); text-align: center; }
    .moduleMenu { grid-area: 2 / 2 / 3 / 3; background-color: rgb(77, 77, 77); }
    .materials { grid-area: 1 / 3 / 2 / 4;  background-color: rgb(77, 77, 77); text-align: center;}