.parent {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100px repeat(3, 200px) 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  outline: 2px solid blue;
  }
  
  .header { grid-area: 1 / 1 / 2 / 6; }
  .mainscene { grid-area: 2 / 2 / 5 / 3; }