.parent {
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: 120px repeat(3, 300px) 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgb(46, 46, 46);
  color: white;
  }
  
  .header { grid-area: 1 / 1 / 2 / 6; }
  .mainscene { grid-area: 2 / 2 / 5 / 3; }